Source: ruby2.5
Section: ruby
Priority: optional
Maintainer: Sorah Fukumori <her@sorah.jp>
Build-Depends: bison,
               chrpath,
               coreutils (>= 7.5),
               debhelper (>= 9),
               file,
               libffi-dev,
               libgdbm-dev,
               libgmp-dev,
               libncurses5-dev,
               libncursesw5-dev,
               libreadline6-dev,
               libssl-dev,
               libyaml-dev,
               netbase,
               openssl,
               procps,
               rubygems-integration (>= 1.6),
               systemtap-sdt-dev [linux-any],
               zlib1g-dev
Standards-Version: 4.1.5
Homepage: http://www.ruby-lang.org/
Vcs-Git: https://github.com/sorah-rbpkg/ruby
Vcs-Browser: https://github.com/sorah-rbpkg/ruby

Package: ruby2.5
Multi-Arch: allowed
Architecture: any
Depends: rubygems-integration (>= 1.8),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: fonts-lato,
            libjs-jquery
Description: Interpreter of object-oriented scripting language Ruby
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 In the name of this package, `2.5' indicates the Ruby library compatibility
 version. This package currently provides the `2.5.x' branch of Ruby.

Package: libruby2.5
Section: libs
Multi-Arch: same
Architecture: any
Depends: ruby2.5-gems (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Libraries necessary to run Ruby 2.5
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package includes the 'libruby-2.5' library, necessary to run Ruby 2.5.
 (API version 2.5.0)

Package: ruby2.5-gems
Section: libs
Multi-Arch: same
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}
Description: Bundled gems

Package: ruby2.5-dev
Multi-Arch: same
Architecture: any
Depends: libgmp-dev,
         libruby2.5 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ruby2.5-doc
Description: Header files for compiling extension modules for the Ruby 2.5
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package contains the header files and the mkmf library, necessary
 to make extension library for Ruby 2.5. It is also required to build
 many gems.

Package: ruby2.5-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for Ruby 2.5
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package contains the autogenerated documentation for Ruby 2.5.
