Source: ruby3.3
Section: ruby
Priority: optional
Maintainer: Sorah Fukumori <sorah@cookpad.com>
Build-Depends: bison,
               coreutils (>= 7.5),
               debhelper-compat (= 13),
               file,
               libffi-dev,
               libgdbm-dev,
               libgmp-dev,
               libncurses-dev,
               libreadline6-dev,
               libssl-dev,
               libyaml-dev,
               rustc (>= 1.58.0),
               netbase <!nocheck>,
               openssl <!nocheck>,
               pkg-config,
               procps <!nocheck>,
               ruby3.3:native <cross>,
               rubygems-integration (>= 1.6) <!nocheck>,
               systemtap-sdt-dev [linux-any],
               tzdata,
               zlib1g-dev
Standards-Version: 4.5.1
Homepage: https://www.ruby-lang.org/
Vcs-Git: https://github.com/sorah-rbpkg/ruby
Vcs-Browser: https://github.com/sorah-rbpkg/ruby
Rules-Requires-Root: no

Package: ruby3.3
Multi-Arch: allowed
Architecture: any
Depends: rubygems-integration (>= 1.17.1~),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: fonts-lato
Description: Interpreter of object-oriented scripting language Ruby
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 In the name of this package, `3.3' indicates the Ruby library compatibility
 version. This package currently provides the `3.3.x' branch of Ruby.

Package: libruby3.3
Section: libs
Multi-Arch: same
Architecture: any
Depends: ruby3.3-gems (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ${libruby:Provides}
Description: Libraries necessary to run Ruby 3.3
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package includes the 'libruby-3.3' library, necessary to run Ruby 3.3.
 (API version 3.3.0)

Package: ruby3.3-gems
Section: libs
Multi-Arch: same
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}
Description: Bundled gems

Package: ruby3.3-dev
Multi-Arch: same
Architecture: any
Depends: libgmp-dev,
         libruby3.3 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ruby3.3-doc
Description: Header files for compiling extension modules for the Ruby 3.3
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package contains the header files and the mkmf library, necessary
 to make extension library for Ruby 3.3. It is also required to build
 many gems.

Package: ruby3.3-doc
Multi-Arch: foreign
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for Ruby 3.3
 Ruby is the interpreted scripting language for quick and easy
 object-oriented programming.  It has many features to process text
 files and to do system management tasks (as in perl).  It is simple,
 straight-forward, and extensible.
 .
 This package contains the autogenerated documentation for Ruby 3.3.
